.success-page-container {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.success-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.success-btn {
  background-color: black;
  color: white;
  padding: 10px 25px;
  text-decoration: none;
  border-radius: 5px;
  font-weight: bold;
}
