.shipping-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f9f9f9;
  min-height: 90vh;
}

.shipping-box {
  background-color: white;
  width: 100%;
  max-width: 450px;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
}

.shipping-heading {
  text-align: center;
  margin-bottom: 30px;
  font-weight: 600;
  border-bottom: 2px solid #000;
  width: 50%;
  margin: 0 auto 30px auto;
  padding-bottom: 5px;
}

.shipping-form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-group {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
}
.form-group svg {
  color: #666;
  margin-right: 10px;
}
.form-group input,
.form-group select {
  border: none;
  outline: none;
  width: 100%;
  font-size: 14px;
}

/* Remove number arrow */
.form-group input::-webkit-outer-spin-button,
.form-group input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shipping-btn {
  background-color: #000;
  color: white;
  border: none;
  padding: 12px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 5px;
  margin-top: 10px;
}
.shipping-btn:hover {
  background-color: #333;
}
