.dashboard {
  display: flex;
  background-color: #f9f9f9;
  min-height: 100vh;
  width: 100vw;
  max-width: 100%;
}

.dashboardContainer {
  margin-left: 10px; /* Sidebar ki jagah */
  padding: 2rem;
  width: calc(100% - 250px);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.dashboardContainer h1 {
  color: #333;
  margin-bottom: 20px;
  border-bottom: 1px solid #ddd;
  padding-bottom: 10px;
}

.dashboardSummary {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.summaryCard {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
  border-bottom: 5px solid transparent;
}
.summaryCard p {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
}
.summaryCard h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
}

.summaryCard.blue {
  border-color: #3498db;
}
.summaryCard.green {
  border-color: #2ecc71;
}
.summaryCard.red {
  border-color: #e74c3c;
}
.summaryCard.purple {
  border-color: #9b59b6;
}

.charts-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 30px;
}
.lineChart,
.doughnutChart,
.barChart {
  background: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
  text-align: center;
}
.barChart {
  grid-column: 1 / -1;
  margin-top: 20px;
}

@media screen and (max-width: 900px) {
  .dashboardContainer {
    margin-left: 0;
    width: 100%;
  }
  .sidebar {
    display: none;
  }
  .charts-grid {
    grid-template-columns: 1fr;
  }
}
